@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="~/Assets/css/login-admin.css" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Đăng nhập</h1>

            <form class="form">
                <input type="text" placeholder="Tên đăng nhập">
                <input type="password" placeholder="Mật khẩu">
                <button type="submit" id="login-button">Chiến nàooo</button>
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>
