@model News
@{
    ViewBag.Title = ViewBag.News;
}

<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">@ViewBag.News</h3>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                        <li><a href="@Url.Action("Index","News")">Tin Tức</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-collection-area gray-bg pt-no-text pb-no-text">
    <div class="container custom-area">
        <div class="row mb-30">
            <div>
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>
