@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}

<div class="login-register-area mt-5">
    <div class="container custom-area">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <h2 class="title-4 mb-2">Quên mật khẩu</h2>
                        <p class="desc-content">Làm ơn kiểm tra email để lấy lại mật khẩu</p>
                    </div>

                    <div class="single-input-item mb-3" style="text-align:center">
                        <a href="@Url.Action("Index","Home", new {area = ""})" class="btn flosun-button secondary-btn theme-color rounded-0">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>