@model ResetPasswordViewModel
@{
    ViewBag.Title = "Cài lại mật khẩu";
}

<div class="login-register-area mt-5">
    <div class="container custom-area">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <h2 class="title-4 mb-2">Cài lại mật khẩu</h2>
                    </div>
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Code)
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="single-input-item mb-3">
                    Email &nbsp; <p class="d-inline-block text-danger">*</p>
                    <input type="email" name="Email" placeholder="Email">
                </div>

                <div class="single-input-item mb-3">
                    Mật khẩu &nbsp; <p class="d-inline-block text-danger">*</p>
                    <input type="password" name="Password" placeholder="Mật khẩu">
                </div>

                <div class="single-input-item mb-3">
                    Xác nhận mật khẩu &nbsp; <p class="d-inline-block text-danger">*</p>
                    <input type="password" name="ConfirmPassword" placeholder="Xác nhận mật khẩu">
                </div>

                        <div class="single-input-item mb-3" style="text-align:center">
                            <button class="btn flosun-button secondary-btn theme-color rounded-0">Xác nhận</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
