<div class="testimonial-area-2 mt-text-2">
    <div class="container custom-area">
        <div class="row">
            <div class="col-lg-12 col-custom">
                <!--Section Title Start-->
                <div class="section-title text-center mb-30">
                    <span class="section-title-1">Phản hồi khách hàng</span>
                    <h3 class="section-title-3">FOODZONE HOTPOT</h3>
                </div>
                <!--Section Title End-->
                <div class="testimonial-carousel swiper-container intro11-carousel-wrap arrow-style-2">
                    <div class="swiper-wrapper">
                        <div class="two-item swiper-slide">
                            <!--Single Testimonial Start-->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonial/testimonial1.jpg" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>
                                        These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme
                                        and these people!
                                    </p>
                                    <div class="testimonial-author">
                                        <h6>Katherine Sullivan <span>Customer</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial text-center">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonial/testimonial1.jpg" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>
                                        These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme
                                        and these people!
                                    </p>
                                    <div class="testimonial-author">
                                        <h6>Katherine Sullivan <span>Customer</span></h6>
                                    </div>
                                </div>
                            </div>
                            <!--Single Testimonial End-->
                        </div>
                        <div class="two-item swiper-slide">
                            <!--Single Testimonial Start-->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonial/testimonial1.jpg" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>
                                        These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme
                                        and these people!
                                    </p>
                                    <div class="testimonial-author">
                                        <h6>Katherine Sullivan <span>Customer</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial text-center">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonial/testimonial1.jpg" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>
                                        These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme
                                        and these people!
                                    </p>
                                    <div class="testimonial-author">
                                        <h6>Katherine Sullivan <span>Customer</span></h6>
                                    </div>
                                </div>
                            </div>
                            <!--Single Testimonial End-->
                        </div>
                    </div>
                    <!-- Slider Navigation -->
                    <div class="home1-slider-prev swiper-button-prev main-slider-nav"><i class="lnr lnr-arrow-left"></i></div>
                    <div class="home1-slider-next swiper-button-next main-slider-nav"><i class="lnr lnr-arrow-right"></i></div>
                    <!-- Slider pagination -->
                    <div class="swiper-pagination default-pagination"></div>
                </div>
            </div>

        </div>
    </div>
</div>