@{
    ViewBag.Title = "Về chúng tôi";
}
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Về chúng tôi</h3>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li>Về chúng tôi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-collection-area gray-bg pt-no-text pb-no-text">
    <div class="container custom-area">
        <div class="row mb-30">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</div>
