@model Table

<div class="object section-table-style table-2">
    <input class="form-check-input input-custom-table" name="ban" type="radio" value="1" id="ban2nguoi1">
    <label class="form-check-label label-table" for="ban2nguoi1">
        <img src="assets/images/booking/stand.png" alt="">
        <div>
            Khu vực bàn 2 người<br>
            Ghi chú: có nhiều cửa sổ và có không gian riêng tư<br>
            <br>
            Số lượng còn: @ViewBag.Cap2
        </div>
    </label>
</div>
<div class="object section-table-style table-6">
    <input class="form-check-input input-custom-table" name="ban" type="radio" value="2" id="ban6nguoi1">
    <label class="form-check-label label-table" for="ban6nguoi1">
        <img src="assets/images/booking/stand.png" alt="">
        <div>
            Khu vực bàn 6 người<br>
            Ghi chú: bàn số lượng lớn thích hợp đi nhiều người<br>
            <br>
            Số lượng còn: @ViewBag.Cap6
        </div>
    </label>
</div>
<div class="object section-table-style8 table-8">
    <input class="form-check-input input-custom-table" name="ban" type="radio" value="3" id="ban8nguoi1">
    <label class="form-check-label label-table" for="ban8nguoi1">
        <img src="assets/images/booking/stand.png" alt="">
        <div>
            Khu vực bàn 8 người<br>
            Ghi chú: bàn số lượng lớn thích hợp đi nhiều người <br>
            khuyến khích dành cho đại gia đình hoặc công ty <br>
            <br>
            Số lượng còn: @ViewBag.Cap8
        </div>
    </label>
</div>