@model ChangePasswordViewModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="login-register-area mt-5">
    <div class="container custom-area">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <h2 class="title-4 mb-2">Thay đổi mật khẩu</h2>
                    </div>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="single-input-item mb-3">
                            Mật khẩu cũ &nbsp; <p class="d-inline-block text-danger">*</p>
                            <input type="password" name="OldPassword" placeholder="Mật khẩu cũ">
                        </div>
                        <div class="single-input-item mb-3">
                            Mật khẩu mới &nbsp; <p class="d-inline-block text-danger">*</p>
                            <input type="password" name="NewPassword" placeholder="Mật khẩu mới">
                        </div>

                        <div class="single-input-item mb-3">
                            Xác nhận mật khẩu &nbsp; <p class="d-inline-block text-danger">*</p>
                            <input type="password" name="ConfirmPassword" placeholder="Xác nhận mật khẩu">
                        </div>

                        <div class="single-input-item mb-3" style="text-align:center">
                            <button class="btn flosun-button secondary-btn theme-color rounded-0">Xác nhận</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}